h2 {
    text-align: center;
    font-size: 32px;
}

p {
    text-align: center;
}

section {
    margin-top: 40px;
    padding-bottom: 20px;
}


.container {
    margin: 0 auto;
    max-width: 1400px;
}

.header__list {
    list-style-type: none;
}

.item-link {
    text-decoration: none;
    font-size: 27px;
}

.item-link:hover {
    color: red;
}

nav {
    display: flex;
}


.task-one__img {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.task-one__item {
    cursor: pointer;
}

.changes-img {
    box-shadow: 0 0 10px;
    background: #6dcff6;
}

#second-task__teast {
    margin: 20px auto;
    width: 400px;
    height: 200px;
    border: 2px solid black;
}

